html {
    background: url(../img/tool.jpg) no-repeat;
    background-size: cover;
}

.table1 {
    position: fixed;
    top: 3%;
    right: 150px;
    /* border-collapse: collapse; */
    border: 1px #e6e6e6 solid;
    font-size: 16px;
    color: #fff;
}

.table1>tbody>tr>th {
    border: 1px #e6e6e6 solid;
}

.table1>tbody>tr>th>div {
    height: 3em;
    background: rgb(122, 121, 137);
    font-weight: 500;
    padding: 2px 3px;
    width: 6em;
}

.table1>tbody>tr>th>div:nth-child(2) {
    background: rgba(225, 225, 225, 0.5);
    height: 30px;
    line-height: 30px;
    color: #000;
}

.table2 {
    position: fixed;
    top: 80px;
    left: 70px;
    /* border-collapse: collapse; */
    border: 1px #e6e6e6 solid;
    font-size: 16px;
    color: #fff;
}

.table2>tbody>tr>th {
    border: 1px #e6e6e6 solid;
}

.table2>tbody>tr>th>div {
    height: 3em;
    background: rgb(122, 121, 137);
    font-weight: 500;
    padding: 2px 3px;
    width: 8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.table2>tbody>tr>th>div>span:first-child {
    width: 6em;
}

.table2>tbody>tr>th>div>span:last-child {
    margin-right: 3px;
}